.sidebar:hover~.main-content {
  margin-left: 270px;
}

.dasboard-header {
  margin-bottom: 30px;
}

.dasboard-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.dasboard-subtitle {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}

.content-grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.stat-card {
  /*background: rgba(0, 0, 0, 0.4);*/
  background: #1010128c;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: var(--transition-smooth);
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease-out forwards;
}

.stat-card:nth-child(1) {
  animation-delay: 0.1s;
}

.stat-card:nth-child(2) {
  animation-delay: 0.2s;
}

.stat-card:nth-child(3) {
  animation-delay: 0.3s;
}

.stat-card:nth-child(4) {
  animation-delay: 0.4s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.panel {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.6s ease-out forwards;
}

.panel:nth-of-type(1) {
  animation-delay: 0.2s;
}

.panel:nth-of-type(2) {
  animation-delay: 0.3s;
}

.panel:nth-of-type(3) {
  animation-delay: 0.4s;
}

/*.stat-card:hover {
  border-color: rgba(255, 255, 255, 0.2);
}*/

.stat-icon {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  color: #fff;
}

.stat-content h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.stat-content p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
}

.dasboard-panels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 24px;
}

.panel {
  background: #1010128c;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 24px;
  min-height: 300px;
}

.panel-title {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
}

.panel-content {
  align-items: center;
  justify-content: center;
}

.placeholder-text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  .dasboard-header {
    margin-bottom: 16px;
  }

  .dasboard-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .stats-grid {
    gap: 10px;
  }

  .stat-card {
    padding: 18px;
    gap: 0;
  }

  .dasboard-panels {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
}