<!-- Dashboard Content -->
<main class="dashboard-content" id="dashboard-content">
    <div class="dasboard-header">
        <h1 class="dasboard-title">Hola, <span id="user-name"></span></h1>
        <p class="dasboard-subtitle" id="dashboard-date"></p>
    </div>

    <div class="content-grid">
        <!-- Stats Cards -->
        <div class="stats-grid">
            <div class="stat-card">
                <div class="stat-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-coin">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1" />
                        <path d="M12 7v10" />
                    </svg>
                </div>
                <div class="stat-content">
                    <h3 class="stat-value">ㅤ</h3>
                    <p class="stat-label">Ingresos totales</p>
                </div>
            </div>

            <div class="stat-card">
                <div class="stat-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-google-analytics">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M10 9m0 1.105a1.105 1.105 0 0 1 1.105 -1.105h1.79a1.105 1.105 0 0 1 1.105 1.105v9.79a1.105 1.105 0 0 1 -1.105 1.105h-1.79a1.105 1.105 0 0 1 -1.105 -1.105z" />
                        <path
                            d="M17 3m0 1.105a1.105 1.105 0 0 1 1.105 -1.105h1.79a1.105 1.105 0 0 1 1.105 1.105v15.79a1.105 1.105 0 0 1 -1.105 1.105h-1.79a1.105 1.105 0 0 1 -1.105 -1.105z" />
                        <path d="M5 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    </svg>
                </div>
                <div class="stat-content">
                    <h3 class="stat-value">ㅤ</h3>
                    <p class="stat-label">Rentabilidad</p>
                </div>
            </div>

            <div class="stat-card">
                <div class="stat-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-packages">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 16.5l-5 -3l5 -3l5 3v5.5l-5 3z" />
                        <path d="M2 13.5v5.5l5 3" />
                        <path d="M7 16.545l5 -3.03" />
                        <path d="M17 16.5l-5 -3l5 -3l5 3v5.5l-5 3z" />
                        <path d="M12 19l5 3" />
                        <path d="M17 16.5l5 -3" />
                        <path d="M12 13.5v-5.5l-5 -3l5 -3l5 3v5.5" />
                        <path d="M7 5.03v5.455" />
                        <path d="M12 8l5 -3" />
                    </svg>
                </div>
                <div class="stat-content">
                    <h3 class="stat-value">ㅤ</h3>
                    <p class="stat-label">Unidades totales del inventario</p>
                </div>
            </div>

            <div class="stat-card">
                <div class="stat-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-coins">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 14c0 1.657 2.686 3 6 3s6 -1.343 6 -3s-2.686 -3 -6 -3s-6 1.343 -6 3z" />
                        <path d="M9 14v4c0 1.656 2.686 3 6 3s6 -1.344 6 -3v-4" />
                        <path
                            d="M3 6c0 1.072 1.144 2.062 3 2.598s4.144 .536 6 0c1.856 -.536 3 -1.526 3 -2.598c0 -1.072 -1.144 -2.062 -3 -2.598s-4.144 -.536 -6 0c-1.856 .536 -3 1.526 -3 2.598z" />
                        <path d="M3 6v10c0 .888 .772 1.45 2 2" />
                        <path d="M3 11c0 .888 .772 1.45 2 2" />
                    </svg>
                </div>
                <div class="stat-content">
                    <h3 class="stat-value">ㅤ</h3>
                    <p class="stat-label">Valor total del inventario</p>
                </div>
            </div>
        </div>

        <!-- Dasboard Content Panels -->
        <div class="dasboard-panels">
            <div class="panel">
                <h3 class="panel-title">Informacion de stock</h3>
                <div class="panel-content">
                    <div class="loader-container" id="stock-loader">
                        <svg class="loader-svg" viewBox="25 25 50 50">
                            <circle class="loader-circle" cx="50" cy="50" r="20"></circle>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="panel">
                <h3 class="panel-title">Productos mas vendidos</h3>
                <div class="panel-content">
                    <div class="loader-container" id="products-loader">
                        <svg class="loader-svg" viewBox="25 25 50 50">
                            <circle class="loader-circle" cx="50" cy="50" r="20"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <h3 class="panel-title">Movimientos Recientes</h3>
            <div class="panel-content">
                <div class="loader-container" id="movements-loader">
                    <svg class="loader-svg" viewBox="25 25 50 50">
                        <circle class="loader-circle" cx="50" cy="50" r="20"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</main>